[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "extern/CTPL"]
	path = extern/CTPL
	url = https://github.com/vit-vit/CTPL.git
	branch = master
